
.uarr,.darr{
  position:absolute;
  left: 50%;
  transform:translateX(-50%);
  width: 30px;
  height:30px;
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background-color:rgba(255, 255, 255, .5);
  margin:20px 2px;
}

.item{
  position:relative;
}
.city{
  position:absolute;
  bottom: 0%;
  right:10%;
  color:white;
  display: inline-block;
  max-width: 70%;
}
h1{
  text-align: end;
}
p{
  font-size: 20px;
  text-align: justify;
}
.uarr{
  top:0%;
}
.darr{
  bottom:0%;
}
.dc-dimention{
  padding:0px !important;
}

img{
  width:100%;
}

.small-active{
  border :6px solid white;
}
.active{
  display:block !important;
}